@section metas{
    <meta name="title" content="Anasayfa - A-Team Ship Repair Technical Services" />
    <meta name="description" content="A-Team Ship Repair Technical Services" />
    <meta name="keywords" content="ateam, gemicilik, kumanya, bakım, onarım, tamir" />
}

@section styles{
    <link href="~/Content/Site/Home/Home.min.css" rel="stylesheet" />
}

<div class="slider-area slider-text-white">
    <div class="slider-active dot-style">
        @{
            for (int i = 1; i < 4; i++)
            {
                <div class="single-slider slider-height d-flex align-items-center" data-background="/images/Site/Slider/@(i.ToString()).jpg"></div>
            }
        }
    </div>
</div>

<div class="services-area pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-title text-center mb-50">
                    <h2>Our Exclusive Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-wrapper text-center mb-30">
                    <i class="fas fa-ship fa-4x"></i>
                    <h2>Hull & Deck Repair</h2>
                    <p>We provide all kinds of meintenance services for hull & deck areas for your vessels.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-wrapper text-center mb-30">
                    <i class="fas fa-bolt fa-4x"></i>
                    <h2>Electronic Services</h2>
                    <p>We provide fast repair services for electronic parts with the latest technologies.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-wrapper text-center mb-30">
                    <i class="fas fa-cogs fa-4x"></i>
                    <h2>Engine Overhaul & Repair</h2>
                    <p>Main and Auxilary Engine overhaul and repair services.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-wrapper text-center mb-30">
                    <i class="fas fa-fire-extinguisher fa-4x"></i>
                    <h2>Safety Equipments</h2>
                    <p>Class approved safety equipment supplies.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-wrapper text-center mb-30">
                    <i class="fas fa-drafting-compass fa-4x"></i>
                    <h2>Technical Supply</h2>
                    <p>We supply quality technical parts and equipment with the best price.</p><br/>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-wrapper text-center mb-30">
                    <i class="fas fa-wrench fa-4x"></i>
                    <h2>Workshop & Reconditioning</h2>
                    <p>We have specialised  workshop and our technicians can adress any reconditioning operation.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cta-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-9 col-md-8">
                <div class="cta-text">
                    <h2>Please contact us when you need any ship repair & ship supply:</h2>
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-4">
                <div class="cta-button text-md-right">
                    <a class="btn-contact" href="@Url.Action("Index", "Contact")"> our contact details
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>