footer.black-bg .widget-area .footer-widget > h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #fff; }

footer.black-bg .widget-area .footer-info li {
  font-size: 16px;
  font-weight: normal;
  line-height: 27px;
  color: #777; }
  footer.black-bg .widget-area .footer-info li a {
    color: #777;
    display: inline-block;
    font-size: 16px;
    line-height: 36px;
    padding-left: 20px;
    position: relative; }
    footer.black-bg .widget-area .footer-info li a:hover {
      color: #fff100; }

footer.black-bg .widget-area .footer-link li {
  float: left;
  width: 50%; }
  footer.black-bg .widget-area .footer-link li a {
    color: #777;
    display: inline-block;
    font-size: 16px;
    line-height: 36px;
    padding-left: 20px;
    position: relative; }
    footer.black-bg .widget-area .footer-link li a:hover {
      color: #fff100; }
    footer.black-bg .widget-area .footer-link li a::before {
      content: "\f0da";
      left: 0;
      position: absolute;
      top: 0;
      font-family: "Font Awesome 5 Free";
      font-weight: 900; }

footer.black-bg .copyright-area {
  border-top: 1px solid #444; }
  footer.black-bg .copyright-area .copyright-text p {
    margin: 0; }

