@{
    ViewBag.Title = "Parolamı Sıfırla";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="passwordBox animated fadeInDown">
    <h1 class="logo-name text-center">AN+</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold text-center">@ViewBag.Title</h2>
                <p class="text-center">
                    Parolanızı sıfırlamak için eposta adresinizi kontrol ediniz.
                </p>
            </div>
        </div>
    </div>
</div>